html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 ;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 42px;
    margin-bottom: 20px;
    
}
/* header*/
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #2a5783;
   padding: 10px 20px;
}


.header .logo img {
    width: 150px;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.nav ul li {
    margin-left: 20px;

}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}







.botao{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff8f8;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    
}
  
.botao:hover{
    background-color: #000000;
}
  
.botao__icon{
    font-size: 1.25rem;
    margin-left: 1.25rem;
    transition: .3s;
}



