html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 ;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 42px;
    margin-bottom: 20px;
    
}
/* header*/
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #2a5783;
   padding: 10px 20px;
}


.header .logo img {
    width: 150px;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.nav ul li {
    margin-left: 20px;

}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.inicio {
    position: relative;
    text-align: center;
    color: rgb(26, 23, 23);
    height: 100vh;
}

.inicio::before{
    content: "";
    background: url('img/capaInicio.jpg') no-repeat center center; /* Substitua pelo caminho da imagem de fundo */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

.banner{
    padding: 100px 20px;
}

.inicio h1{
    font-size: 2em;
    margin: 0 0 20px;
}

.inicio p {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.botao{
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    position: ;
    
}
  
.botao:hover{
    background-color: #fcf6f6;
}
  
.botao__icon{
    font-size: 1.25rem;
    margin-left: 1.25rem;
    transition: .3s;
}



